.container {
  margin: 0 auto;
  width: 50%;
  margin-top: 15px;
}

.btnReturn {
  margin-left: 5%;
}

.titleContainer {
  width: 45%;
  margin: 0 auto;
}

.subTitleContainer {
  font-weight: bold;
}

.titleContainerNoId {
  width: 60%;
  margin: 0 auto;
}

.stypeList {
  list-style-type: none;
}