.container {
  margin: 0 auto;
  width: 50%;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 0.8em;
}

.errorMessageField {
  color: red;
  font-size: 0.8em;
}

textarea {
  height: 50px;
}
