<div class="container">
<h2>Création d'une maison</h2>

<form class="example-form" [formGroup]="createHouseForm" (ngSubmit)="addHouse()">

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Addresse" name="addressHouse" formControlName="addressHouse">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.addressHouse.errors)">
    <div *ngIf="f.addressHouse.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="price" name="price" formControlName="price">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.price.errors)">
    <div *ngIf="f.price.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="surface" name="surface" formControlName="surface">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.surface.errors)">
    <div *ngIf="f.surface.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="description" name="description" formControlName="description">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.description.errors)">
    <div *ngIf="f.description.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="documents" name="documents" formControlName="documents">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.documents.errors)">
    <div *ngIf="f.documents.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="salesman" name="salesman" formControlName="salesman">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.salesman.errors)">
    <div *ngIf="f.salesman.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="roomCount" name="roomCount" formControlName="roomCount">
    </mat-form-field>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.roomCount.errors)">
    <div *ngIf="f.roomCount.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choisir une date de création" placeholder="Date de création"
        name="creationDate" formControlName="creationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>


  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.roomCount.errors)">
    <div *ngIf="f.creationDate.errors.required">
      Le champs est obligatoire
    </div>
  </div>


  <mat-form-field>
    <mat-label>Propriétaire</mat-label>
    <mat-select name="owner" formControlName="owner">
      <mat-option *ngFor="let owner of owners" [value]="owner">
        {{owner}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="alert alert-danger" role="alert" *ngIf="(submitted && f.owner.errors)">
    <div *ngIf="f.owner.errors.required">
      Le champs est obligatoire
    </div>
  </div>

  <div>
    <button mat-button type="submit">Créer</button>
    <button mat-button routerLink="/houses" routerLinkActive="active">Retour</button>
  </div>

</form>

</div>
