.containerHeader {
  background-color: black !important;
  color: white;
}

.title {
   margin-left: 40px;
   padding-bottom: 20px;
}
.containerTitle {
  background-color: white;
  color: black;
}

.containerInfos {
  margin-left: 70%;
  padding-bottom: 10px;
}
